<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="active navbar-brand">Contact List Management System</a>
        </div>
        <ul class="nav navbar-nav navbar-left" *ngIf="loginService.isAdmin">
            <li> <!--navbar-right -->
                <a routerLink="/viewcontactlist"><span class="glyphicon glyphicon-home"></span> View Contact List</a>
            </li>
            <li> <!--navbar-right -->
                <a routerLink="/createcontact"> <span class="glyphicon glyphicon-plus"></span> New Contact</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li *ngIf="!loginService.isLoggedIn">
                <a routerLink="/register">
                    <span class="glyphicon glyphicon-user"></span> Register</a>
            </li>
            <li *ngIf="!loginService.isLoggedIn">
                <a routerLink="/login">
                    <span class="glyphicon glyphicon-log-in"></span> Login</a>
            </li>
            <li *ngIf="loginService.isLoggedIn">
                <a>
                    <span class="glyphicon glyphicon-user"> </span> Welcome, {{ loginService.userName }} ! </a>
            </li>
            <li *ngIf="loginService.isLoggedIn">
                    <a routerLink="/logout">
                        <span class="glyphicon glyphicon-log-out"></span> Logout</a>
                </li>
        </ul>
    </div>
</nav>