<div >
  <h1>
    Welcome Admin!
  </h1>
  <!-- <h2>
    User Create Contact to create New contact, Edit for updating a contact and Delete for removing the contact from the list.
  </h2> -->
  <!-- <div class="btn-group">
      <button type="button" routerLink="/createcontact" class="btn btn-primary">Create Contact</button>
      <button type="button" routerLink="/viewcontactlist" class="btn btn-primary">Contact List</button>
      <button type="button" routerLink="/logout" class="btn btn-primary">Logout</button>
    </div> -->

  <!-- <ul class="nav navbar-nav">
    <li>
      <!--navbar-right 
      <a routerLink="/viewcontactlist">Contact List</a>
    </li>
  </ul> -->
</div>