<p>
  Logout works !!!
</p>

<!-- <h2 mat-dialog-title>
    Logout</h2>
  <form #logOut="ngForm" class="form-horizontal" (submit)="logout()" novalidate>
    <mat-dialog-content>
      </mat-dialog-content>
      <mat-dialog-actions>
        <button mat-raised-button mat-dialog-close (click)="cancelLogout()" color="primary">No</button>
        an optionally provide a result for the closing dialog. 
        <button mat-raised-button  type="submit" color="warn">Logout</button>
       </mat-dialog-actions>
      </form>
    <form #logOut="ngForm" class="form-horizontal" (submit)="logout()" novalidate>
         
        
           <button  type="submit" color="warn">Logout</button>
          
        </form> -->
